<div class="one">
    <mat-card>
        <mat-card-title>User Login</mat-card-title>

        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Usename</mat-label>
                    <input matInput placeholder="User Name" name="username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" name="password">
                </mat-form-field>

            </form>
            <div>
                <button mat-raised-button type="submit" color="primary">Login</button>
                <a mat-raised-button style="margin: 5px" color="accent">Register</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>