
    <a class="one" routerLink="home">Home</a>
    <a class="one" routerLink="about">About</a>
    <a class="one" routerLink="login">Login</a>
    <a class="one" routerLink="access/registor">Registor</a>
    <a class="one" routerLink="contact">Contact</a>

    <router-outlet></router-outlet>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->